
<div class="modal-content" style="border-top-width: 0px;border-right-width: 0px;border-left-width: 0px;">

    <div class="modal-header" ng-class="(modalOptions.mType=='confirm')? 'dialog-header-confirm':'dialog-header-notify'" >
        <!--<button type="button" class="close" ng-click="no()">×</button>-->
        <h4 class="modal-title">
            <span ng-if="(modalOptions.mType=='confirm')" class="glyphicon glyphicon-check">&nbsp;</span>
            <span ng-if="(modalOptions.mType=='notify')" class="glyphicon glyphicon-info-sign">&nbsp;</span>
            {{modalOptions.headerText}}
        </h4>
    </div>
    <div class="modal-body ">
	{{modalOptions.bodyText}}
	</div>
    <div class="modal-footer">
        <button ng-if="(modalOptions.mType=='confirm')" type="button" class="btn btn-default" ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
        <button type="button" class="btn" ng-class="(modalOptions.mType=='confirm')? 'btn-sb':'btn-default'" ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
    </div>
</div>
