<style>
.img-wrapper {
  position: relative;
}

.img-overlay {
   position: absolute;
   top: 5px;
   bottom:0;
   left: 0;
   right: 0;
   text-align: center;
}

.img-overlay:before {
   content: ' ';
   display: block;
}

</style>

<div class="modal" id="editBookModal">
    <div class="modal-dialog" style='width:750px'>
        <div class="modal-content">
			<form name="dataForm" role="form" ng-submit="editBook()" class="form-horizontal" style="margin-bottom: 0px;">

                <div class="modal-header dialog-header-notify ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Editar Libro</h4>
                </div>
				
				<div class="modal-body">
				
                <div class="alert alert-warning" ng-if="status.hayerror" style="margin-top: 0px; margin-left: 0px; margin-right: 0px;margin-bottom: 15px;" >
                     <button type="button" class="close" ng-click="status.hayerror=false">&times;</button>
                     <span class="glyphicon glyphicon-warning-sign"></span>&nbsp; {{status.msg}}
                </div>

				<div class="row">

				<div class="form-group col-sm-6 col-xs-7" style="margin-bottom: 6px;">
					<div class="img-wrapper">
						<img src="{{book.image}}" width='200' height='300' class="img-responsive center-block book"/>
					<div class="img-overlay">
					      <button class="btn btn-md" type='button'  ng-click='imageChange();'>
						  <span class="glyphicon glyphicon-edit"></span>&nbsp;Cambiar
						  </button>
  			       </div>
				   </div>

				</div>

				<div class="form-group col-sm-6 col-xs-7" style="margin-bottom: 6px;">
				             <input class="form-control" ng-model="book.title" name="title" id="title"  placeholder="Ingrese título" required/>
				</div>

				<div class="form-group col-sm-6 col-xs-7" style="margin-bottom: 6px;">
				             <input class="form-control" ng-model="book.author" name="author" id="author"  placeholder="Ingrese autor" required/>
				</div>


				<div class="form-group col-sm-6 col-xs-7" style="margin-bottom: 6px;">
								<input class="form-control" ng-model="book.year" name="year" id="year"  placeholder="Ingrese año" pattern="[1,2]\d{3}" required/>
				</div>


				</div>

			  <br/>
			  </div>
				
				<div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="cerrarModal('#editBookModal');">Cancelar</button>
                    <button type="submit" class="btn btn-bred">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>

