<style>
	.book{border-radius:3px; margin-bottom:10px; cursor:pointer;}
	#custom-search-input{
	    padding: 3px;
	    border: solid 1px #E4E4E4;
	    border-radius: 6px;
	    background-color: #fff;
	}

	#custom-search-input input{
	    border: 0;
	    box-shadow: none;
	}

	#custom-search-input button{
	    margin: 2px 0 0 0;
	    background: none;
	    box-shadow: none;
	    border: 0;
	    color: #666666;
	    padding: 0 8px 0 10px;
	    border-left: solid 1px #ccc;
	} 

	#custom-search-input button:hover{
	    border: 0;
	    box-shadow: none;
	    border-left: solid 1px #ccc;
	}

	#custom-search-input .glyphicon-search{
	    font-size: 23px;
	}
</style>



<br/>

<div class="form-group col-xs-12">
<div id="custom-search-input">
           <div class="input-group col-md-12">
                   <input type="text" class="form-control input-md" placeholder="Buscar Libro" id='search'/>
                   <span class="input-group-btn">
                        <button class="btn btn-info btn-md" type="button" ng-click="search($('#search').val())">
	                            <i class="glyphicon glyphicon-search"></i>
                         </button>
                    </span>
           </div>
      </div>
</div>


<div class="row">
            <div align="center">
                <button class="btn btn-default filter-button" data-filter="1">Filtro 1</button>
                <button class="btn btn-default filter-button" data-filter="2">Filtro 2</button>
                <button class="btn btn-default filter-button" data-filter="3">Filtro 3</button>
                <button class="btn btn-default filter-button" data-filter="4">filtro 4</button>
                <button class="btn btn-default filter-button" data-filter="5">Filtro 5</button>
           </div>
           <br/>


        <div ng-repeat="book in books" class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6">
			<div class="thumbnail">	
		    	<img src={{book.image}} class="img-responsive book"  ng-click='bookRequest(book)'>
				<div class='caption'>
					<h4>{{book.title}} ({{book.year}})</h4>
					<h5>{{book.author}}</h5>
				</div>
        		</div>
	</div>

</div>
