<style>
	.book{border-radius:3px; margin-bottom:10px; cursor:pointer;}
</style>

<br/>

<div align="center">
      <button class="btn btn-outline-dark" type='button' ng-click='new();'>Agregar Libro</button>
</div>

<br/>

<div class="row">
            <div ng-repeat="book in books" class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6">
			<div class="thumbnail">	
		    	<img src={{book.image}} class="img-responsive book"  ng-click='edit(book)'>
				<div class='caption'>
					<h4>{{book.title}} ({{book.year}})</h4>
					<h5>{{book.author}}</h5>
					<button class="btn btn-md btn-outline-dark" type='button'  ng-click='delete(book);'>
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp;Borrar
                                        </button>					
				</div>
            		</div>
            </div>

</div>

<div ng-include="'partials/new-book.html'"></div>
<div ng-include="'partials/edit-book.html'"></div>

