<div class="alert alert-info">
  <strong>Calificacion</strong> Te calificaron con 5 estrellas!! <a class='alert-link' href='#'>Puedes verlo aqui!!</a>
</div>

<div class="alert alert-warning">
  <strong>Solicitud</strong> Tienes solicitudes pendientes <a class='alert-link' href='#'>Puedes verlo aqui!!</a>  
</div>

<div class="alert alert-warning">
  <strong>Solicitud</strong> Tienes solicitudes pendientes <a class='alert-link' href='#'>Puedes verlo aqui!!</a>
</div>

<div class="alert alert-warning">
  <strong>Calificar</strong> Tienes calificaciones pendientes <a class='alert-link' href='#'>Puedes verlo aqui!!</a>
</div>

<div class="alert alert-success">
  <strong>Solicitud </strong> Tu solicitud se realizo correctamente <a class='alert-link' href='#'>Puedes verlo aqui!!</a>
</div>



